*{
    font-family: "Verdana", "Arial", sans-serif;
}
html{
background-image: url("images/bats.gif");	
}
body{
	width: 800px;
	border-style: solid;
	border-top: 1px;
        border-bottom: 1px;
	background: white;
	box-shadow: 0px 0px 25px 10px black;
	margin: 0 auto;
}
main{
    border-bottom: 2px solid;
    padding-bottom: 200px;
}
header{
	margin: auto;
	padding-top: 1px;
	background: linear-gradient(45deg, white, orange, orange, black), orange;
}
footer{
	margin: auto auto;
	padding-top: 15px;
	padding-bottom: 1px;
        font-size: small;
        text-align: center;
	background: linear-gradient(45deg, black, orange, orange, white), orange;
}
.sidebarNav{
	float: left;
	padding-right: 30px;
	margin-left: 0px;
	margin-bottom: 300px;
}
a{
    color:inherit;
}
h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
}

.pumpkin{
        float: left;
	margin: 20px 20px;
}
.bodyhead::first-letter{
        font-size: 2em;
}
.linklist{
	margin: 1em .25em;
}
.headertext{
	text-indent: 10px;
}.horizontalbar{
        list-style-type: none;
        padding: 15px 0px;
        width: 100%;
        height: 100%;
        background-color:black;
        position: relative;
}
.horizontalbaritem{
	margin-left: 55px;
	text-align: center;
	padding: 15px 0px;
        display: inline;
	overflow: hidden;
}
.horizontalbaritemtext:hover{
	background-color:gray;
}
.horizontalbaritemtext{
	color: white;
	display: inline-block;
	text-decoration: none;
}
.horizontalbaritemtextselected{
	color: orange;
	display: inline-block;
	text-decoration: none;
}
.sidebar{
	list-style-type: none;
}
.sidebaritem{
        position:relative;
        margin: 5px 0px;
}
.featureditem{
    color: orange;
    font-weight: bold;
}
.featureditem:hover{
    color: green;
}
.sidebaritem > a{
	display: block;
	padding-top:15px;
	padding-bottom:15px;
        padding-left:10px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	width: 150px;
	height: auto;
	background-color: orange;
	border: 4px solid black;
}
.button{
        display: block;
        width: 100px;
        height: 80px;
        border: 2px solid black;
        background-color: orange;
}
.emailfield{
       text-align: right;
}
