*{
    font-family: "Verdana", "Arial", sans-serif;
}
html{
background-image: url("images/bats.gif");	
}
body{
	width: 800px;
	border-style: solid;
	background: white;
	box-shadow: 0px 0px 25px 10px black;
	margin: 0 auto;
}
main{
	border-style: solid;
}
header{
	margin: auto auto;
	padding-top: 1px;
	padding-bottom: 10px;
	background: linear-gradient(45deg, white, orange, orange, black), orange;
}
footer{
	margin: auto auto;
	padding-top: 15px;
	padding-bottom: 1px;
    font-size: small;
    text-align: center;
	background: linear-gradient(45deg, black, orange, orange, white), orange;
}
nav{
	float: left;
	width: 160px;
	padding-right: 10px;
	margin-bottom: 500px;
}
h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
}
li{
    margin: 15px 1px;
}
a{
	font-weight: bold;
    color:orange;   
}
a:hover{
    color:green;
}
.pumpkin{
    float: left;
	margin: 20px 20px;
}
.bodyhead::first-letter{
    font-size: 2em;
}
.linklist{
	margin: 1em .25em;
}
.headertext{
	text-indent: 10px;
}
